<!DOCTYPE html>
<html>
  <head>
    <title>English</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <nav class="nav">
      <a href="<%= students_path %>" id="logo">Company</a>
      <a href="<%= students_path %>">Instructors</a>
      <a href="<%= new_student_path %>">Sign Up</a>
      <a href="#">Login</a>

    </nav>
  </header>


    <%= yield %>
  </body>
</html>
