<%= form_for @student do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :age %><br>
  <%= f.text_field :age %><br>

  Fluent Languages: <br> 
  <% @languages.each do |language| %>
    <label for=""><%= language.language %>
      <%= check_box :student, :fluencies, {:multiple => true}, language.language %><br>
    </label>

  <% end %>

  <%= f.submit %>

<% end %>
