<h2><%= @student.name %></h2>

<%= link_to "Edit", edit_student_path %>
<%= link_to "Add proficiency", new_student_proficiency_path(@student) %>



<div>
<% @proficiencies.each do |proficiency| %>
  <% if proficiency.want_to_learn%>
    <p>Wants to Learn: <%= proficiency.language_learn %>
    <%= link_to "Edit", edit_student_proficiency_path(@student, proficiency) %>
    <%= link_to "Delete", student_proficiency_path(@student, proficiency), method: :delete %></p>
  <% end %>
<% end %>
</div>
